/* Das CSS für das Logo und die Positionierung */

.expanded-text {
    display: none; /* Standardmäßig unsichtbar machen */
    color: #333; /* Textfarbe für den erweiterten Text */
}

.sticky-header {
    position: sticky;
    top: 0;
    background-color: #ffffff; /* Hintergrundfarbe deines Headers */
    z-index: 100; /* Um sicherzustellen, dass der Header über dem Inhalt bleibt */
}

.logo {
    position: absolute;
    

}

/* Weitere CSS-Stile für das Logo, z. B. Größe, Hintergrundfarbe, Schatten, etc. */
.logo img {
    width: 125px; /* Anpassen, um die Breite des Logos festzulegen */
    height: auto; /* Dadurch bleibt das Seitenverhältnis des Logos erhalten */
    padding-bottom: 0;
}


body
{background-image: linear-gradient(to left, rgb(248, 176, 248), rgb(219, 171, 251), rgb(167, 167, 251), rgb(173, 252, 173), rgb(250, 250, 163), rgb(243, 220, 176), rgb(247, 164, 164));
max-width: 1200px;
margin: 0 auto;
padding: 100px;
padding: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9-Verhältnis (höhe / breite) */
    padding-top: 30px; /* Platzhalter oben, um den Text oder andere Inhalte nicht zu überdecken */
    height: 0;
    overflow: hidden;

}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img{
    width: 300px;
    padding-bottom: 10px;

}


/* CSS-Code in style.css */

.menu {
    list-style: none;
    width: 100vw;
    text-align: center;
    padding: 10px;
    font-size: large;}

.menu li {
    display: inline; /* Anordnung der Menüpunkte horizontal */
    margin-right: 20px; /* Abstand zwischen den Menüpunkten */
}

.menu a {
    text-decoration: none; /* Entfernt die Standard-Link-Unterstreichung */
    color: #333; /* Textfarbe der Menüpunkte */
    font-weight: bold;
}

.menu a:hover {
    color: #007BFF; /* Farbe der Menüpunkte im Hover-Zustand */
}


.menu li:first-child a img {
    width: 100px; /* Breite des Logos anpassen */
    height: auto; /* Automatische Anpassung der Höhe */
    /* Weitere Stilregeln für das Logo nach Bedarf */
    padding: 0;
    border-radius: 0;
   
}


/* article {
    background-color: azure;
    padding: 10px;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
} */


h1 {
    max-width: 700px;
    color: rgb(0, 0, 0);
    padding: 10px 0;
}
h2 {
    margin-top: 0;
}

section {
   
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
    align-items: center;

   
}

article {
    max-width: 700px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px; /* Hier wird die Abrundung festgelegt */
    margin: 10px;
    text-align: center; /* Optional: zentriert die Textboxen im Container */
    }


a {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(250, 250, 163); /* Hintergrundfarbe des Buttons */
    color: #000000; /* Textfarbe */
    text-decoration: none; /* Entfernt die Standard-Link-Unterstreichung */
    border-radius: 5px; /* Abrundung der Ecken */
    transition: background-color 0.3s; /* Animierter Hover-Effekt */
    font-weight: bold;
}

a:first-child{
    background-color: #ffffff;
}

/* Hover-Effekt */
a:hover {
    background-color: rgb(250, 227, 163); /* Neue Hintergrundfarbe im Hover-Zustand */
    color: #007BFF;
}




